@font-face { font-family: Cicle; src: url('cicle/Cicle-Fina.ttf'); } 
html {
    height: 100%;
    background: #fff;
    /*background: url(../images/cover/texturebackground.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overlow: hidden;
}
body,
td,
input,
textarea {
    font-family: Cicle;
    font-size: 9pt;
    color: #444;
    line-height: 1.2;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); */
}
h1 {
    font-size: 2em;
}
h3 {
    font-size: 1em;
}
h2 {
    font-size: 1.5em;
}
body {
    height:100%! important;
    background-color: transparent;
}
/*ul {
    margin: 1.5em; 
}
ul li {
    list-style-type:none;
    font-size:1em; 
}
 

ul li:before
{content:'\2713';
  display:inline-block;
  color:silver;
  padding:0 6px 0 0;
  }*/

.modalDialog {
    background: rgba(0, 0, 0, 0.8);
    opacity:0;
    font-size: 1.5em;
    color: white;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9;
    width: 100%;
    height: 100%;
}
.slider .mini-slide {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    width: 35em;
    height: 35em;
    background: #505070;
    border-radius: 52px;
    z-index: 2;
    color: #ddd;
    overflow: visible;
    font-size: .2em;
    padding: 1em 1em;
}


.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    color: white;
    background: url(../images/cover/boxman.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}
#prev-button {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 20;
}

#next-button {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 20;
}

.slider-button:hover,
.slider-button:active,
.slider-button:focus {
    outline: 0;
}

.slider-button.depth {
    background: #444;
    border: none;
    border-radius: 80px;
    box-shadow: inset 0 0 2px 2px hsla(0,0%,0%,.2),
                inset 0 0 2px 4px hsla(0,0%,0%,.2),
                inset 0 0 2px 6px hsla(0,0%,0%,.2),
                inset 0 0 1px 8px hsla(0,0%,0%,.5),
                inset 0 -4px 2px 4px hsla(0,0%,0%,.5),
                inset 0 1px 1px 8px hsla(0,0%,100%,.25),
                inset 0 -30px 30px hsla(0,0%,0%,.2),
                0 -4px 8px 4px hsla(0,0%,0%,.5),
                0 10px 10px hsla(0,0%,0%,.25),
                0 0 2px 2px hsla(0,0%,0%,.2),
                0 0 2px 4px hsla(0,0%,0%,.2),
                0 0 2px 6px hsla(0,0%,0%,.2),
                0 0 2px 8px hsla(0,0%,0%,.5),
                0 1px 2px 8px hsla(0,0%,100%,.25),
                0 -1px 2px 8px hsla(0,0%,0%,.5);
    color: #303030;
    cursor: pointer;
    font: bold 20px/45px sans-serif;
    height: 80px;
    padding: 0;
    text-shadow: 0 1px 1px hsla(0,0%,100%,.25),
                 0 -1px 1px hsla(0,0%,0%,.75);
    width: 140px;
}
.slider-button.depth:hover,
.slider-button.depth:focus {
    color: white;
    text-shadow: 0 0 10px hsla(240,75%,75%,.5),
                 0 1px 1px hsla(0,0%,100%,.25),
                 0 -1px 1px hsla(0,0%,0%,.75);
}
.slider-button.depth:active {
    box-shadow: inset 0 0 2px 2px hsla(0,0%,0%,.2),
                inset 0 0 2px 4px hsla(0,0%,0%,.2),
                inset 0 0 2px 6px hsla(0,0%,0%,.2),
                inset 0 0 1px 7px hsla(0,0%,0%,.5),
                inset 0 5px 15px 7px hsla(0,0%,0%,.15),
                inset 0 -4px 2px 3px hsla(0,0%,0%,.5),
                inset 0 1px 1px 7px hsla(0,0%,100%,.25),
                inset 0 -30px 30px hsla(0,0%,0%,.1),
                inset 0 30px 30px hsla(0,0%,0%,.2),
                0 -4px 8px 4px hsla(0,0%,0%,.5),
                0 5px 10px hsla(0,0%,0%,.25),
                0 0 2px 2px hsla(0,0%,0%,.2),
                0 0 2px 4px hsla(0,0%,0%,.2),
                0 0 2px 6px hsla(0,0%,0%,.2),
                0 0 2px 8px hsla(0,0%,0%,.5),
                0 1px 2px 8px hsla(0,0%,100%,.25),
                0 -1px 2px 8px hsla(0,0%,0%,.5);
    line-height: 86px;
}
/* Navigation Styles */


body.fsm-body {
     background: transparant;
     margin: 0;

}

.fsm-container {
    background: url(../images/cover/texturebackground.jpg) no-repeat center center fixed;
    height: 100%;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fsm-button {
    right: -150px;
    color: #FFF;
    width: 80px;
    height: 80px;
    font-size: 10em;
}

/*profile*/

#profile-image {
    width: 35%;
    border-radius: 52px;
}
section img {
    width: 45%;
    height: 35%;
    border-radius: 52px;
    padding-left: 1em;

}
#profile {

    margin-top: -12%;
}

#profile p{

    margin-left: 2%;
}

/*Resume*/

#resume section {
    -webkit-animation-fill-mode: forwards;
    /*Chrome 16+, Safari 4+*/
    
    -moz-animation-fill-mode: forwards;
    /*FF 5+*/
    
    -o-animation-fill-mode: forwards;
    /*Not implemented yet*/
    
    -ms-animation-fill-mode: forwards;
    /*IE 10+*/
    
    animation-fill-mode: forwards;
    /*when the spec is finished*/
    /*margin-top: 4px;*/
    
    background: grey;
    border-radius: 10px;
    padding: 2px;
    position: absolute;
}

#skills {
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}


#rotator img {
    width: 30%;
}
#rotator {
    width: 160%;
    height: 100%;
    position: relative;
    left: -20px;
}


#rotator > div {
  /*background : rgb(74, 74, 161);*/

  background : #4f4d49;
    position: absolute;
    overflow: hidden;
    border-radius: 6px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}
#rotator > div > div {
    padding: 5%;
    display: none;
}
#rotator .active {
    top: 0px;
    left: 0px;
    width: 65%;
    height: 84%;
}
#rotator .active .resume-content {
    display: block;
}


#rotator .non-active-top {
    top: 0px;
    left: 70%;
    height: 25%;
    width: 33%;
}
#rotator .non-active-bottom {
    top: 60%;
    left: 70%;
    height: 25%;
    width: 33%;
}
#rotator .non-active-middle {
    top: 30%;
    left: 70%;
    height: 25%;
    width: 33%;
}
#rotator .non-active-top:hover,
#rotator .non-active-middle:hover,
#rotator .non-active-bottom:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#rotator h2 {
    text-align: center;
    margin-top: 21%;
    margin-bottom: 15%
}
#rotator .active h2 {
    /*display: none;*/
    margin-top: 15%;
    margin-bottom: 0%;

}
.shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
.cl-effect-12 a::before, .cl-effect-12 a::after {
    width: 6em;
    height: 6em;
}
.cl-effect-12 a::after {
    width: 1em;
    height: 1em;
    border-width: 6px;
}
.cl-effect-12 a::before, .cl-effect-12 a::after {
    width: 6em;
    height: 6em;
}

.cl-effect-1 a::before {
     margin-right: 0px;
}
.cl-effect-1 a::after {
    margin-left: 0px;
    }
    
.more-info{
    margin: 20% 0px;
    color: silver;
    text-transform: uppercase;
    letter-spacing: 0px;
    } 
.cl-effect-1 .more-info {
        margin: 5% 5%;
    }
    

/*Contact Page*/

.social {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow:
    0 -1px 0 rgba(0, 0, 0, 0.2),
    0 1px 0 rgba(255, 255, 255, 0.2);
  font-size: 70px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: tomato;
  color: white;
}

.social .link.linkedin {
  background-color: #8d6cab;
  color: white;
}

.social .link.facebook {
  background-color: #3B5998;
  color: white;
}

.social .link.instagram {
  background-color: #3f729b;
  color: white;
}


/*Circle Effects*/
.full-main{

    width:100%;
    height:100%;

}

#projects-page{
    background: url(../images/cover/shower-box-man.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.main{
    top: 25%;
    width: 90%;
    margin: 0 auto;
    position: relative;

}

.full-main h1{

    margin: 0 auto;
    text-align: center;
    position: relative;
    font-size: 6em;

}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 25em;
    height: 25em;
    display: inline-block;
    margin: 20px;
}
/*end common*/
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.ch-thumb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5);
    
    -webkit-transform-origin: 95% 40%;
    -moz-transform-origin: 95% 40%;
    -o-transform-origin: 95% 40%;
    -ms-transform-origin: 95% 40%;
    transform-origin: 95% 40%;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.ch-thumb:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    top: 40%;
    left: 95%;
    margin: -4px 0 0 -4px;
    background: rgb(14,14,14);
    background: -moz-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(14,14,14,1)), color-stop(100%,rgba(125,126,125,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    background: radial-gradient(ellipse at center, rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%);
    box-shadow: 0 0 1px rgba(255,255,255,0.9);
}

.ch-img-1 { 
    background-image: url(../images/campaign-manager.jpg);
    z-index: 12;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ch-img-2 { 
    background-image: url(../images/prospect-analyzer.jpg);
    z-index: 11;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ch-img-3 { 
    background-image: url(../images/tradeshow-app.jpg);
    z-index: 10;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ch-img-4 { 
    background-image: url(../images/fleet-analytics.png);
    z-index: 10;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.ch-img-5 { 
    background-image: url(../images/playspot.png);
    z-index: 10;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #c9512e url(../images/noise.png);
    box-shadow: inset 0 0 0 5px rgba(0,0,0,0.05);
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 2em;
    margin: 0 auto;
    padding: 22px 0 0 0;
    height: 85px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
    margin-top: 1em;
    width: 70%;
}

.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 10% 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
    display: block;
    color: #333;
    width: 80px;
    height: 80px;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 24px;
    margin: 7px auto 0;
    font-family: 'Open Sans', Arial, sans-serif;
    opacity: 0;
    
    -webkit-transition: 
        -webkit-transform 0.3s ease-in-out 0.2s,
        opacity 0.3s ease-in-out 0.2s,
        background 0.2s linear 0s;
    -moz-transition: 
        -moz-transform 0.3s ease-in-out 0.2s,
        opacity 0.3s ease-in-out 0.2s,
        background 0.2s linear 0s;
    -o-transition: 
        -o-transform 0.3s ease-in-out 0.2s,
        opacity 0.3s ease-in-out 0.2s,
        background 0.2s linear 0s;
    -ms-transition: 
        -ms-transform 0.3s ease-in-out 0.2s,
        opacity 0.3s ease-in-out 0.2s,
        background 0.2s linear 0s;
    transition: 
        transform 0.3s ease-in-out 0.2s,
        opacity 0.3s ease-in-out 0.2s,
        background 0.2s linear 0s;
        
    -webkit-transform: translateX(60px) rotate(90deg);
    -moz-transform: translateX(60px) rotate(90deg);
    -o-transform: translateX(60px) rotate(90deg);
    -ms-transform: translateX(60px) rotate(90deg);
    transform: translateX(60px) rotate(90deg);
        
    -webkit-backface-visibility: hidden;
}

.ch-info p a:hover {
    background: rgba(255,255,255,0.5);
}
.ch-item:hover .ch-thumb {
    box-shadow: inset 0 0 0 15px rgba(255,255,255, 0.5), 0 1px 3px rgba(0,0,0,0.2);
    -webkit-transform: rotate(-110deg);
    -moz-transform: rotate(-110deg);
    -o-transform: rotate(-110deg);
    -ms-transform: rotate(-110deg);
    transform: rotate(-110deg);
}
.ch-item:hover .ch-info p a{
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    -moz-transform: translateX(0px) rotate(0deg);
    -o-transform: translateX(0px) rotate(0deg);
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
}
