html { padding: 40px; background: black; }
body, td, input, textarea { 
	font-family: helvetica neue, sans-serif; 
	font-size: 9pt; color: #444; 
	line-height: 1.4; 
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); */
}
body { 
	padding-top: 50px; 
}
.slider{

	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	z-index: 9;
	width:700px;
	height:700px;

}


.slider .slide { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
    margin: 0 auto;
	width: 60px; 
	height: 60px; 
	background: #505070; 
	border-radius: 52px; 
	z-index: 2; 
	color: #ddd;
	overflow:visible;
	font-size: .2em;
 
}

#next-button{

  position: absolute;
  top: 50%;
  right: 0;

}

#prev-button{

  position: absolute;
  top: 50%;
  left: 0;

}