
<h1>Who are you really?</h1>
<section>
<p>

Highly motivated worker, agile learner and natural leader with a wide breadth of expertise, both technical and business related, motivated by innovation and creativity.

</p>
<p>
Extremely passionate about arts and technology. Professional Nerd and Hip Hop Dancer and Philanthropist.
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
<img src="images/dancepic.jpg" ></img>
		</div>
		<div class="back">
<img src="images/chill-robot.jpg" ></img>
		</div>
	</div>
</div>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper-2">
		<div class="front">
<img src="images/build_on.jpg" ></img>
		</div>
		<div class="back">
<img src="images/build_on_family.jpg" ></img>
		</div>
	</div>
</div>

</p>

</section>