<article id="profile">
<h1>Josh Librun</h1>

<p><img src="images/workprofile.jpg" id="profile-image" align="left" ></img>I am a front-end developer but love developer everywhere in the stack. I love thinking about all things and all types of problems and you’ll see that through my experience. I enjoy critical thinking. </p>
<p>Everything from creating a great algorithm, to implementing an awesome UI feature to finding out the best movement to apply to music and groups when choreographing dances… I use creativity to solve problem.</p>
<p>I grew up in south Florida and am an alumnus of the University of Florida. My favorite courses were Game Theory in that it got me started on thinking of everything as a problem and Advance Object Oriented Programing in thinking that there are better ways than others to solve problems.</p>
<p>I want to solve problems that are interesting and difficult, be a part of a team that isn’t afraid to experiment, be creative and think out of the box.  Contact me if you want to know more.</p>
</article>