<div  id= "projects-page" class = "full-main">
  <h1>Projects</h1>
<section class="main">
      
        <ul class="ch-grid">
          <li>
            <div class="ch-item"> 
              <div class="ch-info">
                <h3>Campaign Manager</h3>
                <p>Front End Developer <a id="campaign-more">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-1"></div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Prospect Analyzer</h3>
                <p>Front End Developer <a id="prospect-more">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-2"></div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Tradeshow App</h3>
                <p>Front End Developer <a id="tradeshow-more">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-3"></div>
            </div>
          </li>
               <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Fleet Analytics</h3>
                <p>Front End Developer <a id="fleet-optimizer-more"> View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-4"></div>
            </div>
          </li>

          <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Play Spot</h3>
                <p>Full Stack Engineer <a id="playspot-more">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-5"></div>
            </div>
          </li>


        </ul>
        
      </section>

</div>

  <div class="ui prospect fullscreen modal transition" >
    <div class="header">
    Prospect Analyzer    
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/prospect-analyzer.jpg">
          </div>
          <div class="description">
            <div class="ui header">elp our dealers sell new leases before the old Is complete</div>
            <p>
              Benefit : Estimated to bring in 50 Million in Revenue
          </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>



  <div class="ui campaign fullscreen modal transition" >
    <div class="header">
    Campaign Manager   
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/campaign-manager.jpg">
          </div>
          <div class="description">
            <div class="ui header">Help our dealers Manage campaigns 
            </div>
            <p> ..Stimulate  sales at dealership ... Stimulate Financing with GE

              Benefit:  Estimated to bring in 200 Million in Revenue

          </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>


    <div class="ui playspot fullscreen modal transition" >
    <div class="header">
      PlaySpot
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/playspot.png">
          </div>
          <div class="description">
            <div class="ui header">Subtitle</div>
            <p> adsflksdfjalsdkfnasd falkdsfj alsdkfj asldfkj alsdfkj als;dfkj as;dlfkja sd;lfkjadsl;fkjad ;lfkajd f;lakjdf aldkfa;difj a;ldskfa ;dslfkj a;sldkfja ;ldskfj a;ldskfj al;dsfj a;ldskfj a;lsdfkj a;lsdkfj a;lsdfjk a;ldsfj  CONTENT </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>



    <div class="ui tradeshow fullscreen modal transition" >
    <div class="header">
      TradeShows
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/tradeshow-app.jpg">
          </div>
          <div class="description">
            <div class="ui header">Subtitle</div>
            <p> adsflksdfjalsdkfnasd falkdsfj alsdkfj asldfkj alsdfkj als;dfkj as;dlfkja sd;lfkjadsl;fkjad ;lfkajd f;lakjdf aldkfa;difj a;ldskfa ;dslfkj a;sldkfja ;ldskfj a;ldskfj al;dsfj a;ldskfj a;lsdfkj a;lsdkfj a;lsdfjk a;ldsfj  CONTENT </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>




    <div class="ui fleet-optimizer fullscreen modal transition" >
    <div class="header">
      Fleet Analytics Engine
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/fleet-optimizer.png">
          </div>
          <div class="description">
            <div class="ui header">Subtitle</div>
            <p> adsflksdfjalsdkfnasd falkdsfj alsdkfj asldfkj alsdfkj als;dfkj as;dlfkja sd;lfkjadsl;fkjad ;lfkajd f;lakjdf aldkfa;difj a;ldskfa ;dslfkj a;sldkfja ;ldskfj a;ldskfj al;dsfj a;ldskfj a;lsdfkj a;lsdkfj a;lsdfjk a;ldsfj  CONTENT </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>



