<div  id= "projects-page" class = "full-main">
  <h1>Projects</h1>
<section class="main">
      
        <ul class="ch-grid">
          <li>
            <div class="ch-item"> 
              <div class="ch-info">
                <h3>Campaign Manager</h3>
                <p>Front End Developer <a href="#">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-1"></div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Prospect Analyzer</h3>
                <p>Front End Developer <a href="#">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-2"></div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Tradeshow App</h3>
                <p>Front End Developer <a href="#">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-3"></div>
            </div>
          </li>
               <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Fleet Analytics Engine</h3>
                <p>Front End Developer <a href="#">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-4"></div>
            </div>
          </li>

          <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Play Spot</h3>
                <p>Full Stack Engineer <a href="#">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-5"></div>
            </div>
          </li>


        </ul>
        
      </section>

</div>


