<div  id= "projects-page" class = "full-main">
  <h1>Projects</h1>
<section class="main">
      
        <ul class="ch-grid">
          <li>
            <div class="ch-item"> 
              <div class="ch-info">
                <h3>Campaign Manager</h3>
                <p>Front End Developer <a id="campaign-more">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-1"></div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Prospect Analyzer</h3>
                <p>Front End Developer <a id="prospect-more">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-2"></div>
            </div>
          </li>
          <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Tradeshow App</h3>
                <p>Front End Developer <a id="tradeshow-more">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-3"></div>
            </div>
          </li>
               <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Fleet Analytics</h3>
                <p>Front End Developer <a id="fleet-optimizer-more"> View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-4"></div>
            </div>
          </li>

          <li>
            <div class="ch-item">
              <div class="ch-info">
                <h3>Play Spot</h3>
                <p>Full Stack Engineer <a id="playspot-more">View Full Info</a></p>
              </div>
              <div class="ch-thumb ch-img-5"></div>
            </div>
          </li>


        </ul>
          <div class="ui prospect fullscreen modal transition" >
    <div class="header">
    Prospect Analyzer    
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/prospect-analyzer.jpg">
          </div>
          <div class="description">
            <div class="ui header">Help our dealers sell new leases before the old Is complete</div>
            <p>
              Benefit : Estimated to bring in 50 Million in Revenue
          </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>



  <div class="ui campaign fullscreen modal transition" >
    <div class="header">
    Campaign Manager   
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/campaign-manager.jpg">
          </div>
          <div class="description">
            <div class="ui header">Help our dealers Manage campaigns 
            </div>
            <p> ..Stimulate  sales at dealership ... Stimulate Financing with GE

              Benefit:  Estimated to bring in 200 Million in Revenue

          </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>


    <div class="ui playspot fullscreen modal transition" >
    <div class="header">
      PlaySpot
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/playspot.png">
          </div>
          <div class="description">
            <div class="ui header">Connecting the world through sports</div>
            <p> 
We wanted to create an app that could help connect people around the nation through sports. The purpose of this app is to help people who want to play some form of a pickup game find others who are nearby. The app will be used to find local pickup basketball,soccer,football games, etc. It will also be used to find those interested in playing a game of tennis, racquetball, or table tennis. Finally, it can be used to help skaters     find other local skaters interested in having a skate session. All in all, my intent is to make this app as a form of eHarmony, or other sites of that nature, for local people intending to complete their hobby with other people who have the same hobby.

 </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>



    <div class="ui tradeshow fullscreen modal transition" >
    <div class="header">
      TradeShows
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/tradeshow-app.jpg">
          </div>
          <div class="description">
            <div class="ui header">Deal Creation Productivity and technology experimentation</div>
            <p> The focus of this project was mainly to vet out new technologies for GE Capital Americas to integrate into its stack. We set out to rebuild an existing application, better and faster using an internally built product at GE called Predix Core. At the time, the MV* framework, Angular.js, was not being used at GECA and we attempted to understand the benefits and drawbacks of Angular as well as the complete platform Predix </p>

            <p>
              This project was for our enterprise archetecture group. 
            </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>




    <div class="ui fleet-optimizer fullscreen modal transition" >
    <div class="header">
      Fleet Analytics Engine
    </div>
        <div class="image content">
          <div class="ui large image">
            <img src="images/fleet-optimizer.png">
          </div>
          <div class="description">
            <div class="ui header">Predictive Analytics for Fleet Managers</div>
            <p> Fleet Optimizer—a software application that combines predictive analytics, geospatial visualization and an enhanced user experience—helps optimize spending and utilization for vehicle fleets. Fleet managers will be able to mine historical data and forecast future costs such as those related to fuel and maintenance. From there, they can drill down to perform “what if” analyses to model alternative outcomes. By easily identifying potential problem areas before they occur as well as potential cost savings and performance-improvement opportunities, fleet managers can take actions that may improve the return on investment of their fleets. </p>

            <p>
              Sole/Lead UI Developer for this project.
            </p>
          </div>
        </div>
        <div class="actions">
          <div class="ui positive button">
            Done
          </div>
        </div>
    </div>
        
      </section>

</div>





