<h1>Resume</h1>

<div id="rotator">
  <div id="block-1" class="active shadow">
    <h2>Front End/Mobile Developer</h2>
    <div class= "resume-content">
      <p><img src="images/GE_logo.svg.png" align= "left"></img>In this role I partner with designers, backend developers and business partners to deliver customer facing websites, web applications and mobile solutions, utilizing modern web standards and best practices.</p>
      

 <!--<button type="button" class="btn-primary" style= "">Learn More</button>-->
     <p> 
      <!--<a data-theme="vex-theme-flat-attack">learn more</a>-->
      <nav class="cl-effect-12">
      <a href="#" id= "show" class="more-info" >More Information </a>
    </nav>
</p>

    </div>
  </div>
  
  <div id="block-2" class="non-active-top shadow">
    <h2>Information Technology Leadership Program</h2>
    <div class= "resume-content">
     <p>The Information Technology Leadership Program  is a rotational program where I will complete four rotations: 4 different roles in four businesses within GE Capital, for 6 months each. It is focused on training future IT leaders at GE through enhancing business acumen, technical depth/breadth and leadership skills.<p>
    <p>
     <nav class="cl-effect-1">
      <a href="#" id= "show-first-rotation" class="more-info" >First Rotation</a>
      <a href="#" id= "show-second-rotation" class="more-info" >Second Rotation</a>
      <a href="#" id= "show-third-rotation" class="more-info" >Third Rotation</a>
      <a href="#" id= "show-first-rotation" class="more-info" >Fourth Rotation</a>
    </nav>
  </p>
    </div>      
  </div>
  
  <div id="block-3" class="non-active-middle shadow">
    <h2>Freelance Software Developer</h2>
    <div class= "resume-content">
      <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    </div>      
  </div>


    <div id="block-4" class="non-active-bottom shadow">
    <h2>Skillz</h2>
    <div class= "resume-content">
<ul>
<li> Object Oriented Programming </li> 
<li> Java </li> 
<li>  JavaScript </li> 
<li> Objective-C, Swift, xCode </li> 
<li> HTML/CSS </li> 
<li> Server Side Coding </li> 
<li> Front end MVC, MV* Frameworks (Backbone, Angular)
<li> Python </li> 
<li> PHP </li> 
<li> Responsive Design </li> 
<li> IT Project Management </li> 
<li> IT Controllership and Auditing </li> 
</ul>
    </div>      
  </div>

</div>





<div id="openModal" class="modalDialog">
    <div> <a href="#close" title="Close" class="close">X</a>

          <h2>Modal Box</h2>

        <p>This is a sample modal box that can be created using the powers of CSS3.</p>
        <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
    </div>
</div>