<!--<article id="resume">

<h1>Resume</h1>
<section class= "active-block"id="front-end-dev-block">
	<img src="images/GE_logo.svg.png"class="top-left-image"></img>
	<div class="resume-block-body">
<title class="pull-left">Front End/Mobile Developer</title>
In this role I partner with designers, backend developers and business partners to deliver customer facing websites, web applications and mobile solutions, utilizing modern web standards and best practices.
 <!--<button type="button" class="btn-primary" style= "">Learn More</button>-->
<!--</div>-->

<!--<div class="media">
  <div class="media-left">
  	   <a href="#">
      <img class="media-object" src="images/GE_logo.svg.png" style="width:10px">
</a>
  </div>
  <div class="media-body">
    <h3 class="media-heading">Front End/Mobile Developer</h3>
   In this role I partner with designers, backend developers and business partners to deliver customer facing websites, web applications and mobile solutions, utilizing modern web standards and best practices.

     <button type="button" class="btn-primary" style= "">Learn More</button>
  </div>
</div>-->

<!--
</section>
<section class="inactive-block" id="itlp-block">
<h3>Information Technology Leadership Program</h3>
<p>The Information Technology Leadership Program  is a rotational program where I will complete four rotations: 4 different roles in four businesses within GE Capital, for 6 months each. It is focused on training future IT leaders at GE through enhancing business acumen, technical depth/breadth and leadership skills.<p>
</section>
</article>

-->
<h1>Resume</h1>

<div id="rotator">
  <div id="block-1" class="active shadow">
    <h2>Front End/Mobile Developer</h2>
    <div>
      <p>In this role I partner with designers, backend developers and business partners to deliver customer facing websites, web applications and mobile solutions, utilizing modern web standards and best practices.</p>
      <img src="images/GE_logo.svg.png"class="top-left-image"></img>

 <!--<button type="button" class="btn-primary" style= "">Learn More</button>-->
    </div>
  </div>
  
  <div id="block-2" class="non-active-top shadow">
    <h2>Information Technology Leadership Program</h2>
    <div>
     <p>The Information Technology Leadership Program  is a rotational program where I will complete four rotations: 4 different roles in four businesses within GE Capital, for 6 months each. It is focused on training future IT leaders at GE through enhancing business acumen, technical depth/breadth and leadership skills.<p>
    </div>      
  </div>
  
  <div id="block-3" class="non-active-middle shadow">
    <h2>Freelance Software Developer</h2>
    <div>
      <p>Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
    </div>      
  </div>


    <div id="block-4" class="non-active-bottom shadow">
    <h2>Skillz</h2>
    <div>
        <p>•  Object Oriented Programming
• Java
• JavaScript
• Objective-C, Swift, xCode • HTML/CSS
• Server Side Coding
• Front end MVC, MV* Frameworks (Backbone, Angular) • Python
• PHP
• Responsive Design
• IT Project Management
• IT Controllership and Auditing
</p>
    </div>      
  </div>

</div>