<article id="resume">

<h1>Resume</h1>
<section class= "active-block"id="front-end-dev-block">
	<img src="images/GE_logo.svg.png"class="top-left-image"></img>
	<div class="resume-block-body">
<title class="pull-left">Front End/Mobile Developer</title>
In this role I partner with designers, backend developers and business partners to deliver customer facing websites, web applications and mobile solutions, utilizing modern web standards and best practices.
 <!--<button type="button" class="btn-primary" style= "">Learn More</button>-->
</div>

<!--<div class="media">
  <div class="media-left">
  	   <a href="#">
      <img class="media-object" src="images/GE_logo.svg.png" style="width:10px">
</a>
  </div>
  <div class="media-body">
    <h3 class="media-heading">Front End/Mobile Developer</h3>
   In this role I partner with designers, backend developers and business partners to deliver customer facing websites, web applications and mobile solutions, utilizing modern web standards and best practices.

     <button type="button" class="btn-primary" style= "">Learn More</button>
  </div>
</div>-->


</section>
<section class="inactive-block" id="itlp-block">
<h3>Information Technology Leadership Program</h3>
<p>The Information Technology Leadership Program  is a rotational program where I will complete four rotations: 4 different roles in four businesses within GE Capital, for 6 months each. It is focused on training future IT leaders at GE through enhancing business acumen, technical depth/breadth and leadership skills.<p>
</section>
</article>

